<template>
  <img alt="Vue logo" src="./assets/logo.png" />
  <HelloWorld msg="Hello Vue 3 + Vite" />
  <button class="button has-text-centered">Привет Вуй!</button>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import axios from 'axios'
export default {
  components: {
    HelloWorld
  }
} 

// This starter template is using Vue 3 experimental <script setup> SFCs
// Check out https://github.com/vuejs/rfcs/blob/master/active-rfcs/0040-script-setup.md
</script>

<style lang='sass'>
@import '../node_modules/bulma/css/bulma.css'
@import '@assets/main.scss'
 </style>
